<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <connectionStrings>
        <add name="EadConnString" connectionString="Data Source=###;Initial Catalog=###;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="AsConnString" connectionString="###" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>

            <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
</configuration>